@import "../../../styles/mixins.scss";
.skill {
  width: 150px;
  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 20px;
      text-align: center;
      padding-bottom: 1rem;
      @include respond(tablet) {
        font-size: 25px;
        padding-bottom: 2rem;
      }
      @include respond(phone) {
        padding-bottom: 0.2rem;
        font-size: 15px;
      }
    }

    img {
      width: 80%;
      border-radius: 0.5rem;
      @include respond(tablet) {
        width: 90%;
      }
      @include respond(phone) {
        width: 35%;
      }
    }
  }
}
