.hero {
  height: calc(100vh - 100px);
  overflow: hidden;
  background: #f6f5f5;
  position: relative;

  .wrapper {
    max-width: 1336px;
    height: 100%;
    width: 80%;
    margin: auto;
    .textContainer {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;
      position: relative;
      z-index: 5;

      h2 {
        font-size: 30px;
        color: #3f72af;
        letter-spacing: 10px;
      }

      h1 {
        font-size: 70px;
        color: #112d4e;
      }

      .buttons {
        button {
          padding: 20px;
          border-radius: 10px;
          color: black;
          margin-right: 20px;
          cursor: pointer;
          font-weight: 300;
          background: rgba(255, 255, 255, 0.2);
          border-radius: 16px;
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(5px);
          -webkit-backdrop-filter: blur(5px);
          border: 1px solid rgba(0, 0, 0, 0.3);
        }
      }

      img {
        width: 50px;
      }
    }

    .slidingTextContainer {
      z-index: 1;
      position: absolute;
      font-size: 50vh;
      bottom: -50px;
      white-space: nowrap;
      color: #3f72af;
      width: 50%;
      font-weight: bold;
      opacity: 0.2;
    }
  }

  .imageContainer {
    height: 90%;
    position: absolute;
    bottom: 0;
    right: 50px;
    z-index: 2;
    img {
      height: 100%;
    }
  }
}
