$text-color: (
  primary-white: #ffffff,
  secondary-white: #dbe2ef,
  primary-blue: #3f72af,
  secondary-blue: #112d4e,
);

$background-color: (
  primary-white: #ffffff,
  secondary-white: #f9f7f7,
  primary-blue: #3f72af,
  secondary-blue: #112d4e,
);
