@import "../../styles/mixins.scss";
@import "../../styles/colors";
.skills {
  width: 80%;
  height: 100%;
  margin: auto;
  color: map-get($text-color, secondary-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  @include respond(tablet) {
    width: 90%;
  }
  @include respond(phone) {
    width: 100%;
  }

  .skills-wrapper {
    width: 100%;
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @include respond(tablet) {
      gap: 50px;
    }
    @include respond(phone) {
      gap: 10px;
      row-gap: 10px;
    }
  }
}
