.skills {
  width: 80%;
  height: 100%;
  margin: auto;
  padding-block: 3rem;
  color: #112d4e;

  .skills-wrapper {
    width: 100%;
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
