@import "../../styles/mixins.scss";
@import "../../styles/colors";
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include respond(tablet) {
      width: 90%;
    }

    @include respond(phone) {
      width: 90%;
      height: 90%;
    }
  }

  #progress {
    transform: rotate(-90deg);
  }

  circle {
    stroke-dashoffset: 0;
    stroke-width: 15%;
    fill: none;
  }
  #progress .indicator {
    stroke: #dbe2ef;
    height: 40px;
  }
  .bg {
    stroke: #3f72af;
    opacity: 1;
    overflow: hidden;
  }
  ul {
    display: flex;
    list-style: none;
    height: 450px;
    overflow-x: scroll;
    background-color: map-get($background-color, secondary-white) #dbe2ef;
    width: 100%;
    border-radius: 1rem;

    @include respond(phone) {
      height: 500px;
    }
  }

  ::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: 3F72AF;
    -webkit-border-radius: 1ex;
  }

  ::-webkit-scrollbar-thumb {
    background: map-get($background-color, primary-blue);
    -webkit-border-radius: 1ex;
  }
  li {
    flex: 0 0 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    @include respond(tablet) {
      width: 90%;
      height: 100%;
    }
    @include respond(phone) {
      flex: 0 0 320px;
    }
  }
}
